!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content="width=device-width")
    meta(name='description', content="Masaaki Morishita's Blog")
    meta(name='author', content="Masaaki Morishita")
    meta(name='keywords', content="ブログ, Blog, 森下雅章, Masaaki Morishita, roots")

    title= post.title
    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/animate.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/master.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Nova+Square')

    link(rel='shortcut icon', href='/blog-favicon.ico')
    
  body
    header.animated.fadeInDown
      h1
        a(href='/') No web, No life.
      p morishitter's blog

    div.container
      article#post
        h1= post.title
        p.time-tags
          time
            i.fa.fa-calendar
            span= post.date
          each tag in post.tags
            i.fa.fa-tags
            span= tag


        != content

      .back-to-index
        a(href='/') &laquo; back to index

    footer
      p.text-center.text-muted
        | Created by 
        a(href='http://morishitter.github.io') Masaaki Morishita
        | . Powered by ROOTS

    //- add other scripts through require.js, not here
    script(data-main="/js/main", src="/js/require.js")
