header
  background: blue
  width: 100%
  text-align: center
  //font-family: 'Open Sans', sans-serif
  //font-family: 'Nova Square', cursive

  h1
    color: white
    padding-top: 2em
    font-weight: 300
    font-size: 2.5em
    //font-family: 'Open Sans', sans-serif
    font-family: 'Nova Square', cursive

    @media(max-width: 750px)
      padding-top: 1em
    a, a:hover
        color: white
        border-bottom-width: 0
        text-decoration none
  p
    color: white
    padding-bottom: 4em
    font-size: 1.2em
    font-family: 'Nova Square', cursive
    @media(max-width: 750px)
      padding-bottom: 2.5em