#posts
  reset-list()
  margin 5em auto
  @media(min-width: 768px)
    padding 0 2em

  h1
    //margin-bottom: 2em
    line-height 1.4em

  h2
    line-height 1.4em
    margin 1em 0 .3em
    font-size 1.4em

    time
      margin-bottom 2em
      padding-left 1em
      display inline
      font-size .5em
      font-weight normal

  li
    margin 1em 0
    fs 1.5em
    line-height 1.4em