---
title: 2014年の成長戦略
date: 3 Jan 2014
layout: ../views/_single_post.jade
tags: []
---

:markdown
  新年一発目。あけましておめでとうございます。今年もよろしくお願いします。

  抱負をブログに書いて、自分にプレッシャーかける作戦。

  ## 1. Grunt力高める
  [Grunt](http://gruntjs.com/)を去年の秋ぐらいから使い出した。
  それまでなんで使わなかったのか不思議なぐらい超絶便利。
  今年はなんかしらのgrunt-plugin作ってみる。
  今のところ、Stylusのインデント表記に対応した[CSSComb](http://csscomb.com/)がない（と思う）ので挑戦したい。

  ## 2. Backbone.js
  JavaScriptは去年あたりからぼちぼち書き始めた。
  去年は[Minified.jsを使ったり](http://ikasama.hatenablog.jp/entry/2013/09/06/075229)もした。
  今年は最近よく聞くMV*とかなんとかのクライアントサイドのフレームワークを使ってみる。
  
  [Backbone.js](http://backbonejs.org/)で、ずっと前に個人的に作った[クソTwitterクライアント](http://morishitter.ikaasam.com/)と
  [YouTubeのやつ](http://music.ikasamaworks.net/)を、デザインも含めて作りなおす予定。
  [Angular.js](http://angularjs.org/)も触ってみたい。

  ## 3. デザイン
  デザインって言っても、かわいい絵を描くとかそんなんじゃなくて（描いてみたいけど。描けたら絶対楽しい。）、
  ユーザーにとって使いやすいデザインとはみたいな。そう、**UI/UX**みたいな。

  学部のころは人間工学とか色彩学とか勉強したし、
  それに、**デザイン科学クラスタに移動した**ことだし、せっかくだからもっと勉強して、
  デザインを強みと言えるようにしたい。とりあえず、「[誰のためのデザイン](http://www.amazon.co.jp/%E8%AA%B0%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3-%E2%80%95%E8%AA%8D%E7%9F%A5%E7%A7%91%E5%AD%A6%E8%80%85%E3%81%AE%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E5%8E%9F%E8%AB%96-%E6%96%B0%E6%9B%9C%E7%A4%BE%E8%AA%8D%E7%9F%A5%E7%A7%91%E5%AD%A6%E9%81%B8%E6%9B%B8-%E3%83%89%E3%83%8A%E3%83%AB%E3%83%89%E3%83%BBA-%E3%83%8E%E3%83%BC%E3%83%9E%E3%83%B3/dp/478850362X)」を読み直すところから始める。

  そして、**デザインもできるエンジニア**を自称する。僕はコンピュータサイエンス系の知識はほぼ皆無なので、今後の**生存戦略**のためってのもある。

  ## 4. CSSのあり方
  ここ最近CSSに凝ってる。
  CSSについていろいろ思うことがあるので、これは近々別の記事にする予定。
  ざっくり言うと、**CSSのリファクタリング**について、現状は体系立った手法ってないなーって思ってる。

  ## 5. 情報発信
  がんばってブログ更新する。2週間に1回は書きたい。

  ***
  以上。がんばります。（あと研究）