---
title: 研究会ポスター用CSSフレームワーク「Scuola」
date: 11 Feb 2014
layout: ../views/_single_post.jade
tags: [CSS, Framework, Sass]
---

:markdown
  [Scuola](https://github.com/morishitter/Scuola)という研究会用のポスターをHTMLで作るためのCSSフレームワークを作っている。
  先日、初めて研究発表会のようなものに参加して、そのときのポスターをHTMLとCSSで作った。
  実際に作ってみて多々失敗や気付きがあったので、ノウハウをScuolaに詰め込んだ。

  ## Scuola
  Scuola（スクォーラ）はイタリア語で「学堂」って意味。
  名前付に深い考えはない。

  bowerでインストールできる。`bower install scuola`

  まだドキュメントとかないし、使えたもんじゃない。

  HTML+CSSで作ると言っても最終的には紙になるので、レンダリングのパフォーマンスは考慮しなかった。
  `.pd-10`とか`.font-bold`とかの汎用クラスを大量に書いてる。
  他には印刷対応ってことで、floadプロパティではなく`display: inline-block;`でグリッド作るようにしたりとか。

  今後はグリッドをフレキシブルボックスレイアウトにする予定。
  ちなみにFlexboxのプロパティ`display: flexbox`, `flex-flow`はIE10未満では実装されていない。
  HTMLでポスター作ろうなんて思う人はchromeとか使ってるだろうし大丈夫だろう。

  Scuolaを使うことで、いい感じに余白がついたレイアウトをすることができる。
  研究会のポスターでよく見るような、枠線とテキストの間にパディングが全くないようなダサいことにはならない。
  デザインをあまり知らない人が、Scuolaで見やすい、伝わりやすいポスターを作れるのを目指す。